body {
  margin: 0;
  background: linear-gradient(#a8dadc, white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
